.addProduct__section{
    display: flex;
    justify-content: center;
    padding: 4rem 0rem;
    background: #F5F5F5;
}
.field__addproducts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
}
.formulario-addproducts{
    width: 75%;
}
.form__section{

    padding: 2rem 10rem;
    background: #EAF2FD;
    display: flex;
    justify-content: space-between;
}

.formulario{
    line-height: 50px;
    font-weight: 500;
    font-size: 16px;
    width: 40rem;
}
.input-label{
    display: none;
}

.form__links li{
    line-height: 50px;
    font-weight: 500;
    font-size: 16px;
}
.logo__form{
    margin-top: 1.5rem;
    align-content: center;
    align-items: center;
    text-decoration: none;
}

.input{
    width: 95%;
    padding: .7rem 1rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: #C8C8C8 solid 1px;
}

#message{
    height: 5rem;
}
.input-message-error{
    display: none;
}
.button{
    background: #2A7AE4;
    border: none;
    color: white;
    text-align: center;
    padding: 1.5rem 1.5rem;

}

.container__form{ display: flex;
    justify-content: space-between;
    width: 40%;
}
.input__container{
   
    height: 50px;

}
.form__label{
    color: #464646;
    font-weight: 700;
    font-size: 16px;
}


.desc-input-container{
    height: 100%;
}

.input-description{
    height: 5rem;

}
.button__login{
    width: 100%;
}
.add__form__label{
    color:#464646;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: .8rem;
}

@media only screen and (max-width:1000px){
    .formulario-addproducts{
        width: 90vw;
    }
    .field__addproducts{
        width: 100%;
    }
    .form__section{
        padding: 1rem 1rem;
        justify-content: space-around;
    }

    .container__form{
        flex-direction: column;
        width: 30%;
    }
    .form__links li{
        line-height: 45px;
    
    }

    .logo__form{
        margin-top: 1rem;
    }

    .button{

        padding: .8rem 1.5rem;
    }

    .formulario{
        line-height: 40px;
        width: 50%;
    
    }

    .input{
        height: 1.5rem;
        margin-bottom: .8rem;
        
    }
    
    #message{
        height: 3rem;
    }

    .logo__form{
        display: flex;
        margin: 1rem 0rem;
        padding:  0 .5rem;
 
    }

    
    .input-description{
        height: 5rem;
    
    }
    .button__login{
        width: 100%;
    }

}
 
@media only screen and (max-width: 780px){
    .form__section{
        flex-direction: column;
    }
    .container__form{
        text-align: center;
        align-content: center;
        width: 90vw;
        margin: 0;
        padding: 0;
    }

 
    .logo__form{
        
        justify-content: center;
    }

    .formulario{
        line-height: 40px;
        width: 95%;
        padding: 1rem;
        justify-self: center;
    
    }

    .input-description{
        height: 5rem;
    }
    .button__login{
        width: 100%;
    }
}