.banner__img{
    height: 45vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.banner__container{
    position: absolute;
    width: 80%;
    top: 35%;
    left: 14%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #FFFFFF;
}
.banner__title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.banner__description{
    font-size: 1.68rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.banner__btn{
    width: 10%;
    text-decoration: none;
    color:#FFFFFF;
    font-weight: 700;
    padding: 1.2rem .5rem;
    text-align: center;
    background: #2A7AE4;
    cursor: pointer;
    width: 8rem;
    
}

@media only screen and (max-width:1000px) {
  
    .banner__container{
       position: absolute;
        top: 23%;
        left: 5%;
        width: 80%;
  
    }

    .banner__img{
        height: 30vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .banner__title{
        font-size: 330%;
        font-weight: 700;
        margin-bottom: 1rem;
        letter-spacing: .1rem;
    }

    .banner__description{
        font-size: 130%;
        font-weight: 700;
        margin-bottom: 1rem;
        letter-spacing: .1rem;
    }

    .banner__btn{
        padding: 1rem 0rem;
        text-align: center;
        background: #2A7AE4;
        font-size: 1rem;
        font-weight: 550;
       
    }
    

}


@media only screen and (max-width:780px) {
 
    .banner__img{
        height: 30vh;
        background-size: 100%;
        width: 100%;
    
    }
    .product{
        width: 45%;
    }

    .banner__container{
       position: absolute;
        top: 23%;
        left: 5%;
        width: 90%;
        
    }

    .banner__title{
        font-size: 130%;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .banner__description{
        font-size: 80%;
        font-weight: 700;
        margin-bottom: 1rem;
        width: 100%;
    }

    .banner__btn{
        width: 7rem;
        padding: 1rem 1rem;
        text-align: center;
        background: #2A7AE4;
        font-size: .8rem;
    }
  
}
