
.theLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

.header__btns{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.search__bar{
    border: none;
    width: 50%;
    height: 3rem;
    background-image: url(../img/loop.svg);
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-position:96%;
    border-radius: 25px;
    background-color: #F5F5F5;
    padding: 0% 2%;
}
.search__bar::placeholder {
  
    font-size: 0.8750em;

  }
.login__btn{
    width: 12%;
    box-sizing: border-box;
    text-align: center;
    padding: 16px 0px;
    text-decoration: none;
    color: #2A7AE4;
    border: #2A7AE4 solid 1px;
    margin: 1rem;
}
.logo__section{
    display: flex;
    margin-right: 2rem;
    align-items: center;
}

.header__logo{
    height: 20px;
   
}

@media only screen and (max-width:1024px) {
    .theHead{
        padding: 1rem 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .theLogo{
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .header__btns{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 100%;
    }
    .logo__section{
        width: 40%;
        margin: 0;
    }
  
    .search__bar{
        width: 100%;
        margin: 1rem;
        background-size: 1.3rem;
    }
    .login__btn{
      
        width: 45%;
        box-sizing: none;
        text-align: center;
        align-content: center;
        padding: 1rem .5rem;
       
    }

}

@media only screen and (max-width:780px) {
    .theHead{
        display: flex;
        justify-content: space-around;
        padding: 0 0rem;
    }
 
    .header__logo{
        height: 1rem;
    }
    .header__logo__main{
        height: 1.5rem;
    }
    .theLogo{
        display: flex;
        justify-content: space-around;
        width: 90%;
    }
    .search__bar{
        border: none;
        background: none;
        background-image: url(../img/loop.svg);
        background-repeat: no-repeat;
        background-position: 70%;
        background-size: 1.3rem;
        width: 1rem;
    }

    .search__bar::placeholder {
  
        color: transparent;
       
    
      }
    .login__btn{
        padding: .5rem 0rem;
        font-size: 1rem;
        align-content: center;
        text-align: center;
        width: 6rem;   
    }

    .header__btns{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        width: 60%;
    }

}
